  variables:
    TARGET_DIR: "blog-devopsnotes"
    SERVER_IP: 113.30.191.17
    GIT_STRATEGY: clone
  deploy_production:
    stage: deploy
    tags:
      - deploy_production
    before_script:
      - eval $(ssh-agent -s)
      - chmod 600 "$CI_CD_SSH_KEY"
      - ssh-add "$CI_CD_SSH_KEY"
      - mkdir -p ~/.ssh
      - chmod 700 ~/.ssh
      - ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts || echo "Keyscan failed"
    script:
      - echo "Vérification GitLab -> Longueur du token = ${#SENTRY_AUTH_TOKEN}"
      - |
        ssh -A -o StrictHostKeyChecking=no kamal@$SERVER_IP "
          export SENTRY_AUTH_TOKEN='${SENTRY_AUTH_TOKEN}' &&
          cd $TARGET_DIR &&
          
          # Nettoyage des modifs locales pour permettre le pull sans erreur
          git stash &&
          git pull origin main &&
          
          # --- GÉNÉRATION DU FICHIER .ENV BACKEND ---
          echo 'MONGODB_URI=${MONGODB_URI}' > ./backend/.env &&
          echo 'PORT=5000' >> ./backend/.env &&
          echo 'FRONT_END_URL=https://blog.devopsnotes.org' >> ./backend/.env &&
          echo 'REACT_APP_API_URL=https://blog.devopsnotes.org/api' >> ./backend/.env &&
          echo 'ADMIN_EMAIL=${ADMIN_EMAIL}' >> ./backend/.env &&
          echo 'ADMIN_PASSWORD=${ADMIN_PASSWORD}' >> ./backend/.env &&
          echo 'JWT_SECRET=${JWT_SECRET}' >> ./backend/.env &&
          echo 'JWT_EXPIRES=1h' >> ./backend/.env &&
          echo 'RESEND_API_KEY=${RESEND_API_KEY}' >> ./backend/.env &&
          echo 'SENTRY_DSN=${SENTRY_DSN}' >> ./backend/.env &&
          echo 'R2_ACCOUNT_ID=${R2_ACCOUNT_ID}' >> ./backend/.env &&
          echo 'R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}' >> ./backend/.env &&
          echo 'R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}' >> ./backend/.env &&
          echo 'R2_BUCKET_NAME=${R2_BUCKET_NAME}' >> ./backend/.env &&
          echo 'R2_PUBLIC_URL=${R2_PUBLIC_URL}' >> ./backend/.env &&

          # --- GÉNÉRATION DU FICHIER .ENV FRONTEND ---
          echo 'REACT_APP_API_URL=https://blog.devopsnotes.org/api' > ./frontend/.env &&
          echo 'NODE_ENV=production' >> ./frontend/.env &&
          echo 'REACT_APP_ROOT=https://blog.devopsnotes.org' >> ./frontend/.env &&
          echo 'REACT_APP_R2_PUBLIC_URL=${R2_PUBLIC_URL}' >> ./frontend/.env &&
          echo 'SENTRY_DSN=${SENTRY_DSN}' >> ./frontend/.env &&

          # --- GOOGLE CLOUD ---
          echo \"GOOGLE_INDEXING_KEY='${GOOGLE_INDEXING_KEY}'\" >> .env

          # --- RELANCE DU BUILD ET DEPLOIEMENT K3S ---
          # On build les images localement sur le ThinkPad
          docker compose build --no-cache &&
          
          # On applique les manifests K8S (Ingress + Deployment)
          kubectl apply -f k8s/blog-legacy.yaml &&
          kubectl apply -f k8s/blog-ingress.yaml &&
          
          # Le signal pour que K3s recharge les nouvelles images avec tes modifs UI
          kubectl rollout restart deployment portfolio-portal-deployment -n portfolio-prod &&
          
          # Nettoyage Docker
          docker system prune -f
        "