deploy_production:
  stage: deploy
  only:
    - main  # Déploie seulement quand tu pousses sur la branche main
  tags:
    - deploy_production
  before_script:
    - eval $(ssh-agent -s)
    - chmod 600 "$CI_CD_SSH_KEY"
    - ssh-add "$CI_CD_SSH_KEY"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H 113.30.191.17 >> ~/.ssh/known_hosts
  script:
    - |
      ssh -A -o StrictHostKeyChecking=no kamal@113.30.191.17 '
        cd projet-demo-devops-v1 &&
        git pull origin main &&
        
        # --- Création du .env Backend ---
        cat <<EOF > ./backend/.env
        MONGODB_URI=${MONGODB_URI}
        PORT=5000
        FRONT_END_URL=https://www.devopsnotes.org
        REACT_APP_API_URL=https://www.devopsnotes.org/api
        ADMIN_EMAIL=${ADMIN_EMAIL}
        ADMIN_PASSWORD=${ADMIN_PASSWORD}
        JWT_SECRET=${JWT_SECRET}
        JWT_EXPIRES=1h
        RESEND_API_KEY=${RESEND_API_KEY}
        R2_ACCOUNT_ID=${R2_ACCOUNT_ID}
        R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
        R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
        R2_BUCKET_NAME=${R2_BUCKET_NAME}
        R2_PUBLIC_URL=https://resources.devopsnotes.org
        EOF

        # --- Création du .env Frontend ---
        cat <<EOF > ./frontend/.env
        REACT_APP_API_URL=https://www.devopsnotes.org/api
        REACT_APP_ROOT=https://www.devopsnotes.org
        EOF

        # --- Relance Docker ---
        docker compose up -d --build --remove-orphans
      '