stages:
  - build
  - deploy

variables:
  REGISTRY_IMAGE: "registry.gitlab.com/portfolio-kamal-guidadou/devopsnotes-blog"
  TAG_LATEST: "latest"
  FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: "true"
  BASH_ENV: "~/.bashrc"

build_images:
  stage: build
  tags:
    - debian
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    # --- Build Backend ---
    - docker build --no-cache --pull -t $REGISTRY_IMAGE/backend:$TAG_LATEST ./backend
    - docker push $REGISTRY_IMAGE/backend:$TAG_LATEST
    # --- Build Frontend ---
    - echo "REACT_APP_API_URL=https://blog.devopsnotes.org/api" > ./frontend/.env
    - echo "REACT_APP_SOCKET_URL=https://blog.devopsnotes.org" >> ./frontend/.env
    - echo "REACT_APP_SENTRY_DSN=$REACT_APP_SENTRY_DSN" >> ./frontend/.env
    # --- Build Frontend sécurisé (BuildKit)---
    - echo "$SENTRY_AUTH_TOKEN" > sentry_token.txt
    - DOCKER_BUILDKIT=1 docker build --no-cache --pull --secret id=SENTRY_AUTH_TOKEN,src=sentry_token.txt -t $REGISTRY_IMAGE/frontend:$TAG_LATEST ./frontend
    - rm sentry_token.txt

    - docker push $REGISTRY_IMAGE/frontend:$TAG_LATEST
    - docker image prune -f

deploy_production:
  stage: deploy
  tags:
    - debian
  before_script:
    - eval $(ssh-agent -s)
    - chmod 400 "$CI_CD_SSH_KEY"
    - ssh-add "$CI_CD_SSH_KEY"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H 113.30.191.17 >> ~/.ssh/known_hosts
  script:
    # 1. Synchronisation des manifests vers le nouveau dossier sur le VPS
    - scp -r k8s/ kamal@113.30.191.17:~/infrastructure/apps/blog-devopsnotes/
    # 2. Déploiement distant
    - |
      ssh kamal@113.30.191.17 "
        cd ~/infrastructure/apps/blog-devopsnotes &&
        export CI_REGISTRY_IMAGE='${REGISTRY_IMAGE}' &&
        
        # Application des manifests K8S (Chemin mis à jour)
        envsubst < k8s/deployment.yaml | kubectl apply -f - &&
        kubectl apply -f k8s/blog-devopsnotes.yaml &&
        kubectl apply -f k8s/blog-ingress.yaml &&
        
        # Force le pull de la nouvelle image
        kubectl rollout restart deployment blog-devopsnotes-deployment -n blog-prod
      "
  only:
    - main