before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    # On s'assure que le fichier a les bons droits
    - chmod 400 $CI_CD_SSH_KEY
    # On force la suppression des retours à la ligne Windows potentiels avant d'ajouter la clé
    - ssh-add $CI_CD_SSH_KEY
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan 113.30.191.17 >> ~/.ssh/known_hosts