deploy_production:
  stage: deploy
  tags:
    - deploy_production
  before_script:
    # On démarre l'agent SSH
    - eval $(ssh-agent -s)
    # On ajoute la clé (assurez-vous que la variable CI_CD_SSH_KEY est de type 'File' dans GitLab)
    - chmod 400 "$CI_CD_SSH_KEY"
    - ssh-add "$CI_CD_SSH_KEY"
    # Configuration du dossier .ssh pour l'utilisateur gitlab-runner
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    # On scanne la clé de l'hôte pour éviter le message de confirmation
    - ssh-keyscan -H 113.30.191.17 >> ~/.ssh/known_hosts || echo "Keyscan failed"
  script:
    # Connexion et déploiement
    - ssh -o StrictHostKeyChecking=no kamal@113.30.191.17 "cd projet-demo-devops-v1 && git pull && docker compose up -d --build"