stages:
  - deploy

deploy_production:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - chmod 400 $CI_CD_SSH_KEY
    - ssh-add $CI_CD_SSH_KEY
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan 113.30.191.17 >> ~/.ssh/known_hosts
  script:
    - ssh kamal@113.30.191.17 "cd ~/projet-demo-devops-v1 && git fetch origin main && git reset --hard origin/main && docker compose up -d --build"