stages:
  - build
  - deploy

variables:
  # Ton chemin de registre détecté sur image_8c06da.png
  REGISTRY_IMAGE: "registry.gitlab.com/portfolio-kamal-guidadou/devops-devsecops/projet-demo-devops-v1"
  TAG_LATEST: "latest"

# ÉTAPE 1 : Remplir ton registre (Actuellement vide sur GitLab)
build_images:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $REGISTRY_IMAGE/backend:$TAG_LATEST ./backend
    - docker build -t $REGISTRY_IMAGE/frontend:$TAG_LATEST ./frontend
    - docker push $REGISTRY_IMAGE/backend:$TAG_LATEST
    - docker push $REGISTRY_IMAGE/frontend:$TAG_LATEST

# ÉTAPE 2 : Déploiement sur le VPS via SSH
deploy_production:
  stage: deploy
  tags:
    - deploy_production # Ton Runner sur le ThinkPad/VPS [cite: 2026-01-10]
  before_script:
    - eval $(ssh-agent -s)
    # Correction de la syntaxe pour éviter l'erreur VS Code
    - echo "$CI_CD_SSH_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H 113.30.191.17 >> ~/.ssh/known_hosts
  script:
    - |
      ssh kamal@113.30.191.17 "
        cd ~/blog-devopsnotes &&
        export CI_REGISTRY_IMAGE='${REGISTRY_IMAGE}' &&
        
        # Application des manifests K8S
        envsubst < k8s/deployment.yaml | kubectl apply -f - &&
        kubectl apply -f k8s/blog-devopsnotes.yaml &&
        kubectl apply -f k8s/blog-ingress.yaml &&
        
        # Redémarrage pour charger les nouvelles images du registre
        kubectl rollout restart deployment blog-devopsnotes-deployment -n blog-prod
      "
  only:
    - main