stages:
  - build
  - deploy

variables:
  REGISTRY_IMAGE: "registry.gitlab.com/portfolio-kamal-guidadou/devopsnotes-blog"
  TAG_LATEST: "latest"
  FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: "true"
  BASH_ENV: "~/.bashrc"

build_images:
  stage: build
  tags:
    - debian
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    # --- Build Backend ---
    - docker build --no-cache --pull -t $REGISTRY_IMAGE/backend:$TAG_LATEST ./backend
    - docker push $REGISTRY_IMAGE/backend:$TAG_LATEST
    # --- Build Frontend ---
    - echo "REACT_APP_API_URL=https://blog.devopsnotes.org/api" > ./frontend/.env
    - echo "REACT_APP_SOCKET_URL=https://blog.devopsnotes.org" >> ./frontend/.env
    - echo "REACT_APP_SENTRY_DSN=$REACT_APP_SENTRY_DSN" >> ./frontend/.env
    # --- Build Frontend sécurisé (BuildKit)---
    - echo "$SENTRY_AUTH_TOKEN" > sentry_token.txt
    - DOCKER_BUILDKIT=1 docker build --no-cache --pull --secret id=SENTRY_AUTH_TOKEN,src=sentry_token.txt -t $REGISTRY_IMAGE/frontend:$TAG_LATEST ./frontend
    - rm sentry_token.txt
    - docker push $REGISTRY_IMAGE/frontend:$TAG_LATEST
    - docker image prune -f

deploy_production:
  stage: deploy
  tags:
    - debian
  before_script:
    - eval $(ssh-agent -s)
    - chmod 400 "$CI_CD_SSH_KEY"
    - ssh-add "$CI_CD_SSH_KEY"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H 113.30.191.17 >> ~/.ssh/known_hosts
  script:
    # 1. Synchronisation des manifests
    - scp -r k8s/ kamal@113.30.191.17:~/infrastructure/apps/blog-devopsnotes/
    
    # 2. Copie sécurisée du fichier JSON Google depuis le Runner vers le VPS
    - scp $GOOGLE_INDEXING_KEY kamal@113.30.191.17:~/infrastructure/apps/blog-devopsnotes/google-key.json
    
    # 3. Déploiement distant et mise à jour du Secret K8s
    - |
      ssh kamal@113.30.191.17 "
        export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
        export CI_REGISTRY_IMAGE='${REGISTRY_IMAGE}'
        
        cd ~/infrastructure/apps/blog-devopsnotes/k8s &&
        
        # Injection chirurgicale de la clé Google dans le secret existant
        B64_KEY=\$(base64 -w 0 ../google-key.json)
        kubectl patch secret blog-secrets -n blog-prod -p=\"{\\\"data\\\":{\\\"GOOGLE_INDEXING_KEY\\\": \\\"\$B64_KEY\\\"}}\" &&
        
        # Application des manifests
        envsubst < deployment.yaml | kubectl apply -f - &&
        kubectl apply -f blog-devopsnotes.yaml &&
        kubectl apply -f blog-ingress.yaml &&
        
        # Nettoyage du fichier sensible sur le VPS
        rm ../google-key.json &&
        
        # Force le pull de la nouvelle image
        kubectl rollout restart deployment blog-devopsnotes-deployment -n blog-prod
      "
  only:
    - main