deploy_production:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - chmod 400 "$CI_CD_SSH_KEY"
    - ssh-add "$CI_CD_SSH_KEY"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    # Utilisation d'une option pour ignorer la vérification stricte si keyscan échoue
    - ssh-keyscan -H 113.30.191.17 >> ~/.ssh/known_hosts || echo "Keyscan failed, check firewall"
  script:
    # Remplacez 'user' par votre utilisateur réel (ex: root ou kamal)
    - ssh -o StrictHostKeyChecking=no kamal@113.30.191.17 "cd projet-demo-devops-v1 && git pull && docker-compose up -d --build"