version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: devopsnotes-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env      # charge MONGODB_URI depuis backend/.env
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: devopsnotes-frontend
    ports:
      - "3000:80"
    # Pour que le frontend parle au backend via process.env.REACT_APP_API_URL ou 'http://localhost:5000/api'
