.cookie-banner {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  background-color: #1e293b !important; /* Bleu sombre DevOps */
  color: white !important;
  padding: 1.5rem;
  z-index: 999999 !important; /* Pour passer devant le footer "Created by..." */
  border-top: 2px solid #38bdf8; /* Ligne cyan DevSecOps */
  box-shadow: 0 -10px 25px rgba(0,0,0,0.3);
}

.cookie-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}